<html>
  <head>
    <title>Greeting Page</title>
  </head>
  <body style="width: 800px;">
    <h1>Authenticated Chat</h1>
      <br/>
      <br/>
      private: <%= @rsa_private %>
      <br/>
      <br/>
      public: <%= @rsa_public %>
      <br/>
      <br/> 
      token: <%= @token %>
      <br/>
      <br/>
      payoad: <%= @payload %>
      <br/>
      <br/>
      User: <%= @users %>
      <br/>
       User: <%= @user %>
      <br/>
      <br/>
      Client: <%= @client %>
      <br/>
      <br/>

      Org: <%= @org %>
      <br/>

      
<script type="text/javascript">(function(a){function b(B,C){let D=new c(B,C);document.dispatchEvent(D)}function c(B,C){let D;if('function'==typeof window.CustomEvent)D=new CustomEvent(B,C);else{let E=C||{bubbles:!1,cancelable:!1,detail:void 0};D=document.createEvent('CustomEvent'),D.initCustomEvent(B,E.bubbles,E.cancelable,E.detail)}return D}function d(){var B=document.querySelectorAll('[data-event]');B.forEach(function(C){let D=JSON.parse(C.dataset.event);f(D,!0)})}function f(B,C){let D=document.getElementById(B.id);(B.oneTime||C)&&(D.disabled=!0,'undefined'!=typeof B.disabledStyle&&(D.style.cssText=B.disabledStyle),D.style.cssText+='pointer-events: none;')}function g(B){o(sessionStorage,B,'element already exists in local storage list',z)}function h(){let B=JSON.parse(sessionStorage.getItem(z)),C=[];for(let D in B)B[D].oneTime&&C.push(k(B[D]));0!==C.length&&j(C)}function j(B){let C=document.head||document.getElementsByTagName('head')[0],D=document.createElement('style');D.type='text/css',B.forEach(function(E){D.appendChild(document.createTextNode(E))}),C.appendChild(D)}function k(B){let C='#'+B.id+'{',D=B.disabledStyle.split(';');return D.forEach(function(E){C+=E+' !important;'}),C+='pointer-events: none;',C+='}',C}function l(B,C){let D={detail:{data:C}};if(B){let E=JSON.parse(C).id,F=document.querySelectorAll('[data-boot-strap]');for(let H,G=F.length-1;0<G;G--)if(H=F[G].dataset.bootStrap,JSON.parse(H).id===E){D={detail:{data:H}};break}}return D}function m(B){o(localStorage,B,'script already exists in local storage list',y)}function o(B,C,D,E){let F=JSON.parse(B.getItem(E));F||(F={}),F[C.id]===void 0?(F[C.id]=C,B.setItem(E,JSON.stringify(F)),console.log('adding'+C.id+' to storage')):console.log(D)}function p(B){q(localStorage,B,y)}function q(B,C,D){let E=JSON.parse(B.getItem(D));!1==delete E[C]&&console.log('script'+C+'does not exist in list'),B.setItem(D,JSON.stringify(E))}function r(B){let C=document.getElementById(B);C&&(C.parentNode.removeChild(C),C=null,console.log('script'+B+' removed from dom'))}function u(B,C){let D=document.getElementById(B.id);return!1===x(B.bootstrapJs)?void console.log('script not in valid domain'):void(D&&(D.parentNode.removeChild(D),D=null),D=document.createElement('script'),D.id=B.id,D.async=!0,D.onload=function(){C(B)},D.src=B.bootstrapJs,document.body.appendChild(D))}function v(B,C){let D=JSON.parse(B);return!!D&&(u(D,C),!0)}function w(){let B=JSON.parse(localStorage.getItem(y));for(let C in console.log('restoring scripts using local storage'),B)u(B[C],function(){console.log('script'+C+'restored')})}function x(B){let C=document.createElement('a');C.href=B;let D=C.hostname;return'liveassistfor365.com'===D.substr(D.length-'liveassistfor365.com'.length)}window.lpTag=window.lpTag||{},'undefined'==typeof window.lpTag._tagCount?(window.lpTag={site:a,section:lpTag.section||'',autoStart:!1!==lpTag.autoStart,ovr:lpTag.ovr||{},_v:'1.6.0',_tagCount:1,protocol:'https:',events:{bind:function(B,C,D){lpTag.defer(function(){lpTag.events.bind(B,C,D)},0)},trigger:function(B,C,D){lpTag.defer(function(){lpTag.events.trigger(B,C,D)},1)}},defer:function(B,C){0==C?(this._defB=this._defB||[],this._defB.push(B)):1==C?(this._defT=this._defT||[],this._defT.push(B)):(this._defL=this._defL||[],this._defL.push(B))},load:function(B,C,D){var E=this;setTimeout(function(){E._load(B,C,D)},0)},_load:function(B,C,D){var E=B;B||(E=this.protocol+'//'+(this.ovr&&this.ovr.domain?this.ovr.domain:'lptag.liveperson.net')+'/tag/tag.js?site='+this.site);var F=document.createElement('script');F.setAttribute('charset',C?C:'UTF-8'),D&&F.setAttribute('id',D),F.setAttribute('src',E),document.getElementsByTagName('head').item(0).appendChild(F)},init:function(){this._timing=this._timing||{},this._timing.start=new Date().getTime();var B=this;window.attachEvent?window.attachEvent('onload',function(){B._domReady('domReady')}):(window.addEventListener('DOMContentLoaded',function(){B._domReady('contReady')},!1),window.addEventListener('load',function(){B._domReady('domReady')},!1)),'undefined'==typeof window._lptStop&&this.load()},start:function(){this.autoStart=!0},_domReady:function(B){this.isDom||(this.isDom=!0,this.events.trigger('LPT','DOM_READY',{t:B})),this._timing[B]=new Date().getTime()},vars:lpTag.vars||[],dbs:lpTag.dbs||[],ctn:lpTag.ctn||[],sdes:lpTag.sdes||[],ev:lpTag.ev||[]},lpTag.init()):window.lpTag._tagCount+=1,window.cafexAssistBootstrap={},window.cafexAssistBootstrap.laBootstrapLoaded=!1,window.cafexAssistBootstrap.cobrowseState,window.cafexAssistBootstrap.bootstrapLa=function(B){var C=document.getElementById('assist-cobrowse-bootstrap-script');C&&C.parentNode.removeChild(C);var E=document.createElement('script');E.id='assist-cobrowse-bootstrap-script',E.type='text/javascript',E.src=B+'/assist-bootstrap/assist-bootstrap.js',window.cafexAssistBootstrap.cobrowseBootstrapLoaded=function(){switch(window.cafexAssistBootstrap.laBootstrapLoaded=!0,window.cafexAssistBootstrap.cobrowseState){case'accepted':window.cafexAssistBootstrap.cobrowseAccepted(window.cafexAssistBootstrap.agentId);break;case'rejected':window.cafexAssistBootstrap.cobrowseRejected(window.cafexAssistBootstrap.agentId);}},document.head.appendChild(E)},sessionStorage.getItem('cobrowseServer')&&window.cafexAssistBootstrap.bootstrapLa(sessionStorage.getItem('cobrowseServer')),lpTag.events.bind({eventName:'cobrowseOffered',appName:'*',func:function(B){console.log(B),window.cafexAssistBootstrap.cobrowseState='offered';var C=document.querySelectorAll('[data-assist-a'+B.agentId+']'),D=JSON.parse(atob(C[C.length-1].dataset['assistA'+B.agentId]));console.log(D);var E=document.createElement('a');E.href=D.server;for(var F=['.cafex.com','.liveassistcloud.com','.liveassistfor365.com'],G=!1,H=E.hostname,I=0;I<F.length;I++){var J=F[I],K=H.indexOf(J);if(-1!=K||K==H.length-J.length){G=!0;break}}return G?void(sessionStorage.setItem('cobrowseServer',D.server),window.cafexAssistBootstrap.bootstrapLa(D.server)):void console.log('Unexpected cobrowse domain '+H+' aborting cobrowse.')},async:!0}),lpTag.events.bind({eventName:'cobrowseAccepted',appName:'*',func:function(B){console.log(B),window.cafexAssistBootstrap.cobrowseState='accepted',window.cafexAssistBootstrap.agentId=B.agentId,window.cafexAssistBootstrap.laBootstrapLoaded&&window.cafexAssistBootstrap.cobrowseAccepted(B.agentId)},async:!0}),lpTag.events.bind({eventName:'cobrowseDeclined',appName:'*',func:function(B){console.log(B),window.cafexAssistBootstrap.cobrowseState='rejected',window.cafexAssistBootstrap.agentId=B.agentId,window.cafexAssistBootstrap.laBootstrapLoaded&&window.cafexAssistBootstrap.cobrowseRejected(B.agentId)},async:!0}),document.addEventListener('click',function(B){if(B.target.dataset&&B.target.dataset.event!==void 0)try{let C=JSON.parse(B.target.dataset.event),D=l(C.useRecentData,B.target.parentElement.dataset.bootStrap);f(C),g(C),v(B.target.parentElement.dataset.bootStrap,function(E){m(E),b(C.event,D)})}catch(C){console.log('could not process'+B.target.dataset.event+' '+C)}}),lpTag.events.bind({eventName:'state',appName:'*',func:function(B){'ended'===B.state&&d()},async:!0});const y='liveAssistScripts',z='liveAssistElements';document.addEventListener('deleteLiveAssistScript',function(B){r(B.detail.id),p(B.detail.id)},!1),document.addEventListener('DOMContentLoaded',function(){w(),h()})})("85061495");</script>
 



    <script type="text/javascript">

	    // function Auth (type) {
	    // 	this.token = "<%= @token %>";
	    // }

	    // var auth = new Auth();

    	// console.log(auth.token);

    	var auth = (function () {
		    return {
		        getAuthenticationToken: function (callback) {
		            console.log("Get Auth Data");

			        try {
		                
		                console.log("Generated JWT: " + "<%= @token %>");
		                callback("<%= @token %>");
		            } catch (e) {
		                console.error(e);
		                callback(null, "Unable to generate key");
		            }
		        }
		    };
		})();


    </script>

  </body>
</html>
